<h1>Olá handlebars</h1>
<p>O nome do usuário é {{user.name}} {{user.surname}} e ele tem {{user.age}} anos</p>
<h2>{{palavra}}</h2>
{{#if auth}}
	<p>Você está autenticado, <a href="/dashboard">clique aqui</a> para acessar a àrea da Dashboard</p>
{{/if}}